@charset "utf-8";

.cart_wrap > h1{
    font-family: NanumSquareNeo4;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 1100px;
}

table{
    margin: 50px auto;
    text-align: center;
    /* border: 1px solid red; */
}
th{
    border-bottom: 2px solid black;
    height: 40px;
}
td{
    border-bottom: 2px solid #ccc;
    height: 40px;
}
th:nth-child(1){
    width: 80px;
}
th:nth-child(2){
    width: 440px;
}
th:nth-child(3){
    width: 140px;
}
th:nth-child(4){
    width: 140px;
}