@charset "utf-8";

.cart_wrap > h1{
    font-family: NanumSquareNeo4;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 1290px;
}

table{
    margin: 50px auto;
    text-align: center;
    width: 1290px;
}
thead > tr > th:nth-of-type(1){
    width: 1190px;
}
thead > tr > th:last-child{
    width: 100px;
}
th{
    border-bottom: 2px solid black;
}
td{
    border-bottom: 2px solid #ddd;
}
tbody > tr > td{
    height: 210px;
}


/* 여기부터 */
thead > tr > th{
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}
tbody > tr > td:nth-child(1){
}
tbody > tr > td:nth-child(3){
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
}
tbody > tr > td:nth-child(4){

}
tbody > tr > td:nth-child(5) > div{
    display: inline-block;
    width: 100px;
    height: 30px;
    
}
tbody > tr > td:nth-child(5) > div > p,
tbody > tr > td:nth-child(5) > div > button{
    float: left;
    margin: 0 6px;
}
tbody > tr > td:nth-child(5) > div > button{
    border: none;
}
tbody > tr > td:nth-child(6) > button{
    border: none;
    background-color: #fff;
}

.cart_info{
    margin: 0 auto;
    padding: 30px 60px 30px 60px ;
    text-align: left;
    width: 1290px;
    border: 1px solid #f5f5f5;
    border-radius: 50px;
    background-color: #f5f5f5;
}

.cart_btn{
    width: 1290px;
    text-align: center;
    margin: 50px auto;
}
.cart_btn > button{
}